@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6;
  font-size: 1.0rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1rem; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    color: gray; }

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.bg-white {
  background-color: white; }

.pd-l-10 {
  padding-left: 10px; }

.pd-r-10 {
  padding-right: 10px; }

.mg-l-0 {
  margin-left: 0; }

header {
  margin-top: 20px; }
  header .container {
    text-align: center; }
  header #title {
    text-align: center; }
    @media (min-width: 550px) {
      header #title {
        text-align: left; } }
  @media (min-width: 550px) {
    header #menu .sp_navi {
      display: none; } }
  header #menu .sp_navi li {
    display: inline-block; }
  header #menu .pc_navi {
    text-align: right; }
    @media (max-width: 549px) {
      header #menu .pc_navi {
        display: none; } }
    header #menu .pc_navi li {
      margin-left: 10px;
      display: inline-block; }

main .left-side.breadcrumbs {
  background-color: #e8e4da;
  color: #a6a6a6;
  border-radius: 5px;
  margin-bottom: 10px; }
  main .left-side.breadcrumbs ul {
    font-size: 1.4rem;
    padding: 5px;
    margin-bottom: 0;
    margin-left: 5px;
    display: flex;
    list-style: none; }
    main .left-side.breadcrumbs ul li {
      margin-top: auto;
      margin-bottom: auto; }
      main .left-side.breadcrumbs ul li a {
        color: #a6a6a6; }
main .left-side #products-header #product_title {
  font-size: 2.0rem;
  float: left; }
main .left-side #products-header #product_id {
  color: #a6a6a6;
  font-size: 1.6rem;
  float: right; }
main .left-side #products-show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  main .left-side #products-show #display_img {
    width: 100%; }
    @media (min-width: 550px) {
      main .left-side #products-show #display_img {
        width: calc(72% - 5px);
        margin-right: 5px; } }
  main .left-side #products-show #list_img {
    width: 28%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px; }
    main .left-side #products-show #list_img .item-show {
      width: calc(100% / 2 - 6px); }
    @media (max-width: 549px) {
      main .left-side #products-show #list_img {
        width: 100%; }
        main .left-side #products-show #list_img .item-show {
          width: calc(100% / 5 - 10px); } }
main .left-side #new-items .pc_title,
main .left-side #popular-items .pc_title,
main .left-side #category-theme .pc_title,
main .left-side #cate-items .pc_title,
main .left-side #recent-items .pc_title,
main .left-side #shopping-guide .pc_title {
  margin-top: 15px;
  margin-bottom: 15px; }
  @media (max-width: 549px) {
    main .left-side #new-items .pc_title,
    main .left-side #popular-items .pc_title,
    main .left-side #category-theme .pc_title,
    main .left-side #cate-items .pc_title,
    main .left-side #recent-items .pc_title,
    main .left-side #shopping-guide .pc_title {
      display: none; } }
main .left-side #new-items .sp_title,
main .left-side #popular-items .sp_title,
main .left-side #category-theme .sp_title,
main .left-side #cate-items .sp_title,
main .left-side #recent-items .sp_title,
main .left-side #shopping-guide .sp_title {
  text-align: center; }
  @media (min-width: 550px) {
    main .left-side #new-items .sp_title,
    main .left-side #popular-items .sp_title,
    main .left-side #category-theme .sp_title,
    main .left-side #cate-items .sp_title,
    main .left-side #recent-items .sp_title,
    main .left-side #shopping-guide .sp_title {
      display: none; } }
main .left-side #new-items .item-wrap,
main .left-side #popular-items .item-wrap,
main .left-side #category-theme .item-wrap,
main .left-side #cate-items .item-wrap,
main .left-side #recent-items .item-wrap,
main .left-side #shopping-guide .item-wrap {
  display: flex;
  flex-wrap: wrap; }
  main .left-side #new-items .item-wrap .item,
  main .left-side #popular-items .item-wrap .item,
  main .left-side #category-theme .item-wrap .item,
  main .left-side #cate-items .item-wrap .item,
  main .left-side #recent-items .item-wrap .item,
  main .left-side #shopping-guide .item-wrap .item {
    background-color: #fff;
    padding: 10px;
    margin: 1px;
    width: calc(100% / 3 - 2px); }
    @media (max-width: 549px) {
      main .left-side #new-items .item-wrap .item,
      main .left-side #popular-items .item-wrap .item,
      main .left-side #category-theme .item-wrap .item,
      main .left-side #cate-items .item-wrap .item,
      main .left-side #recent-items .item-wrap .item,
      main .left-side #shopping-guide .item-wrap .item {
        width: calc(100% / 2 - 2px); } }
main .left-side #color-size-area {
  width: 100%; }
  main .left-side #color-size-area table {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.4rem;
    vertical-align: middle;
    width: 90%; }
    main .left-side #color-size-area table th {
      font-weight: normal;
      background-color: #f9f8f6;
      white-space: nowrap; }
    main .left-side #color-size-area table th,
    main .left-side #color-size-area table td {
      padding: 12px 15px;
      border: solid 1px #e8e4da;
      text-align: center; }
  main .left-side #color-size-area input[type="checkbox"] {
    margin-bottom: 0; }
main .left-side #price-area {
  display: flex;
  width: 100%; }
  main .left-side #price-area #price-left {
    width: 40%; }
    main .left-side #price-area #price-left .price-item {
      display: inline-block;
      margin-right: 20px; }
    main .left-side #price-area #price-left p {
      font-style: italic;
      font-size: 1.8rem;
      font-weight: bold;
      color: #e80f66; }
      main .left-side #price-area #price-left p span {
        font-size: 1.0rem;
        color: black; }
  main .left-side #price-area #price-right {
    width: 50%; }
    main .left-side #price-area #price-right img {
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: 20px; }
main .left-side #quantity-area .quantity-item {
  display: inline-block;
  margin-right: 20px; }
main .left-side #intro-product h2 {
  color: #887f69;
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 1.2rem; }
main .left-side #intro-product h3 {
  color: #887f69;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.2rem; }
main .left-side #intro-product p.explanation {
  font-size: 1.5rem; }
main .left-side #intro-product table {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.4rem;
  vertical-align: middle;
  width: 90%; }
  main .left-side #intro-product table th {
    font-weight: normal;
    background-color: #f9f8f6;
    white-space: nowrap; }
  main .left-side #intro-product table th,
  main .left-side #intro-product table td {
    padding: 12px 15px;
    border: solid 1px #e8e4da;
    text-align: center; }
  main .left-side #intro-product table td {
    text-align: left;
    padding-left: 15px; }
main .left-side #pagination .btn_back,
main .left-side #pagination .btn_next {
  text-align: center;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #887f69;
  width: calc(100% / 4 - 10px);
  margin: 15px 0 15px 0;
  padding: 10px; }
main .left-side #pagination .btn_back {
  float: left; }
main .left-side #pagination .btn_next {
  float: right; }
main .left-side #shopping-guide .guide-wrap {
  display: flex;
  flex-wrap: wrap; }
  main .left-side #shopping-guide .guide-wrap .guide {
    background-color: #fff;
    padding: 20px;
    margin: 2px;
    width: calc(100% / 2 - 4px); }
    main .left-side #shopping-guide .guide-wrap .guide h2 {
      color: #887f69;
      font-size: 2.0rem;
      font-weight: bold;
      margin-bottom: 1.2rem; }
    main .left-side #shopping-guide .guide-wrap .guide .guide-part {
      margin-bottom: 10px; }
      main .left-side #shopping-guide .guide-wrap .guide .guide-part h3 {
        color: #887f69;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1.2rem; }
    @media (max-width: 549px) {
      main .left-side #shopping-guide .guide-wrap .guide {
        width: 100%; } }
main .right-side .menu-header-close {
  padding-left: 10px; }
  main .right-side .menu-header-close::after {
    content: url("../images/top/next_icon.png");
    float: right;
    padding-right: 10px; }
main .right-side .menu-header-close.menu-header-open {
  padding-left: 10px; }
  main .right-side .menu-header-close.menu-header-open::after {
    content: url("../images/top/down_icon.png");
    float: right;
    padding-right: 10px; }
main .right-side li {
  list-style: none;
  background-color: #fff;
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  vertical-align: middle; }
  main .right-side li a::after {
    content: url("../images/top/next_icon_gray.png");
    float: right; }
main .right-side .side-box h2 {
  background-color: #887f69;
  margin-bottom: 0px; }
  main .right-side .side-box h2 img {
    vertical-align: middle; }
main .right-side .side-box.item-search {
  padding: 10px;
  background: white; }
main .right-side #pagelink {
  cursor: pointer; }
  main .right-side #pagelink #pagelink-menu-toggle {
    display: none; }
main .right-side #categories {
  cursor: pointer; }
  main .right-side #categories #categories-menu-toggle {
    display: none; }
main .right-side #search-box input {
  border-radius: 0;
  width: 100%;
  padding: 10px;
  background-image: url("../images/top/search_icon.png");
  background-repeat: no-repeat;
  background-position: right 10px top 10px; }
main .right-side #about img,
main .right-side #about p,
main .right-side #shop-info img,
main .right-side #shop-info p {
  padding: 10px; }
main .right-side .more_btn {
  text-align: center; }

footer .container {
  text-align: center;
  font-size: 1.3rem; }
  footer .container #pagetop {
    text-align: right;
    border-bottom: solid 0.5px; }
  footer .container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 30px; }
    footer .container ul li {
      margin-left: 30px; }
      footer .container ul li:not(:first-child) {
        list-style-type: disc; }
  footer .container #copyright {
    font-size: 0.7rem;
    color: #887f69; }

/*# sourceMappingURL=shopping.css.map */
